@using Meghan_MVCPortfolio.Models;

<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    
    <!-- SITE TITLE -->
    <title>Meghan Combs Portfolio</title>
    
    <!-- Latest Bootstrap min CSS -->
    <link rel="stylesheet" href="~/BootstrapTemplate/Template_file/sonakshi/assets/bootstrap/css/bootstrap.min.css">
    
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i|Dosis:300,400,500,600,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- MY GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Allura|Satisfy" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <!--<link rel="stylesheet" href="BootstrapTemplate/Template_file/sonakshi/assets/fonts/font-awesome.css.map">-->
    <link rel="stylesheet" href="~/BootstrapTemplate/Template_file/sonakshi/assets/fonts/font-awesome.min.css">
    
    
    <!-- ADD FAVICON HERE -->
    <link rel="icon" type="image.png" href="~/BootstrapTemplate/Template_file/sonakshi/assets/img/cat--5-512-85909.png" />
    
    <!--- owl carousel Css-->
    <link rel="stylesheet" href="~/BootstrapTemplate/Template_file/sonakshi/assets/owlcarousel/css/owl.carousel.css">
    <link rel="stylesheet" href="~/BootstrapTemplate/Template_file/sonakshi/assets/owlcarousel/css/owl.theme.css">
    
    <!--prettyPhoto css-->
    <link href="~/BootstrapTemplate/Template_file/sonakshi/assets/css/prettyPhoto.css" rel="stylesheet">
    
    <!--Flex slider-->
    <link href="~/BootstrapTemplate/Template_file/sonakshi/assets/css/flexslider.css" rel="stylesheet">
    
    <!--master slider-->
    <link href="~/BootstrapTemplate/Template_file/sonakshi/assets/master-slider/style/masterslider.css" rel="stylesheet">
    <link href="~/BootstrapTemplate/Template_file/sonakshi/assets/master-slider/skins/default/style.css" rel="stylesheet">
    
    <!-- animate CSS -->
    <link rel="stylesheet" href="~/BootstrapTemplate/Template_file/sonakshi/assets/css/animate.css">
    
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/BootstrapTemplate/Template_file/sonakshi/assets/css/style.css">
    
    <!-- CSS FOR COLOR SWITCHER -->
    <link rel="stylesheet" href="~/BootstrapTemplate/Template_file/sonakshi/assets/css/switcher/switcher.css">
    <link rel="stylesheet" href="~/BootstrapTemplate/Template_file/sonakshi/assets/css/switcher/style1.css" id="colors">

    <!-- SYNTAX HIGHLIGHTER -->
    <link href="~/Scripts/SyntaxHighlighter/styles/shCore.css" rel="stylesheet" />
    <link href="~/Scripts/SyntaxHighlighter/styles/shThemeEclipse.css" rel="stylesheet" />

    <!-- SWEET ALERT CSS -->
    <link href="~/Content/sweetalert.css" rel="stylesheet" />

    <!-- custom CSS -->
    <link href="~/BootstrapTemplate/Template_file/sonakshi/assets/css/custom.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body data-spy="scroll" data-offset="80">
    <!-- START PRELOADER -->
    <div class="preloader">
        <div class="status">
            <div class="status-mes"></div>
        </div>
    </div>
    <!-- END PRELOADER -->

    @RenderBody()

    <!-- START FOOTER -->
    <div class="footer">
        <div class="container">
            <div class="row text-center">
                <div class="wow zoomIn col-xs-12">
                    <div class="copyright">
                        <p>Copyright Meghan Combs &copy; 2018 | All Rights Reserved.</p>
                    </div><!--- END FOOTER COPYRIGHT -->
                </div><!--- END COL -->
            </div><!--- END ROW -->
        </div><!--- END CONTAINER -->
    </div>
    <!-- END FOOTER -->

    <!-- Latest jQuery -->
    <script src="~/BootstrapTemplate/Template_file/sonakshi/assets/js/jquery-1.12.4.min.js"></script>
    <!-- Latest compiled and minified Bootstrap -->
    <script src="~/BootstrapTemplate/Template_file/sonakshi/assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- modernizer JS -->
    <script src="~/BootstrapTemplate/Template_file/sonakshi/assets/js/modernizr-2.8.3.min.js"></script>
    <!-- stellar js -->
    <script src="~/BootstrapTemplate/Template_file/sonakshi/assets/js/jquery.stellar.min.js"></script>
    <!-- owl-carousel min js  -->
    <script src="~/BootstrapTemplate/Template_file/sonakshi/assets/owlcarousel/js/owl.carousel.min.js"></script>
    <!-- jquery.prettyPhoto js -->
    <script src="~/BootstrapTemplate/Template_file/sonakshi/assets/js/jquery.prettyPhoto.js"></script>
    <!-- scrolltopcontrol js -->
    <script src="~/BootstrapTemplate/Template_file/sonakshi/assets/js/scrolltopcontrol.js"></script>
    <!-- jquery flexslider min js -->
    <script src="~/BootstrapTemplate/Template_file/sonakshi/assets/js/jquery.flexslider-min.js"></script>
    <!--master slider-->
    <script src="~/BootstrapTemplate/Template_file/sonakshi/assets/master-slider/js/masterslider.min.js"></script>
    <!-- form-contact js -->
    <script src="~/BootstrapTemplate/Template_file/sonakshi/assets/js/form-contact.js"></script>
    <!-- WOW - Reveal Animations When You Scroll -->
    <script src="~/BootstrapTemplate/Template_file/sonakshi/assets/js/wow.min.js"></script>
    <!-- map js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwIQh7LGryQdDDi-A603lR8NqiF3R_ycA"></script>
    <!-- switcher js -->
    <script src="~/BootstrapTemplate/Template_file/sonakshi/assets/js/switcher.js"></script>
    <!-- scripts js -->
    <script src="~/BootstrapTemplate/Template_file/sonakshi/assets/js/script.js"></script>

    <!-- Alphanum JQuery -->
    <script src="~/Scripts/jquery.alphanum.js"></script>

    <!-- JS SYNTAX HIGHLIGHTER -->
    <script src="~/Scripts/SyntaxHighlighter/scripts/shCore.js"></script>
    <script src="~/Scripts/SyntaxHighlighter/scripts/shBrushJScript.js"></script>

    <!-- C# SYNTAX HIGHLIGHTER -->
    <script src="~/Scripts/SyntaxHighlighter/scripts/shBrushCSharp.js"></script>

    <!-- SWEET ALERT -->
    <script src="~/Scripts/sweetalert.min.js"></script>

    <!-- CUSTOM JS -->
    <script src="~/Scripts/custom.js"></script>

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
